<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="car" class="cn.xux.spring.bean.Car">
        <property name="brand" value="Audi"></property>
        <property name="price" value="300000"></property>
    </bean>-->

    <!--
        使用bean的scope属性配置bean的作用域
        singleton：默认值。容器初始化时创建bean实例，在整个容器周期内只创建这一个bean
        prototype：原型的。容器初始化时不创建bean实例，而是在每次有请求获取bean时都创建一个新的bean，并返回
    -->
    <!--<bean id="car" class="cn.xux.spring.bean.Car" scope="singleton">-->
    <bean id="car" class="cn.xux.spring.hello.Car" scope="prototype">
        <property name="brand" value="Audi"></property>
        <property name="price" value="300000"></property>
    </bean>

</beans>