<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--通过静态工厂方法来配置bean，注意不是配置静态工厂实例，而是配置bean的实例-->
    <!--
        class: 指向静态工厂方法的全类名
        factory-method: 指向静态工厂方法的方法名
        constructor-arg: 如果工厂方法需要传入参数，则使用constructor-arg来配置入参
    -->
    <bean id="car1" class="cn.xux.spring.bean.factory.StaticCarFactory" factory-method="getCar">
        <constructor-arg value="audi"></constructor-arg>
    </bean>

    <!--配置工厂的实例-->
    <bean id="instanceCarFactory" class="cn.xux.spring.bean.factory.InstanceCarFactory"></bean>

    <!--通过实例工厂方法来配置bean-->
    <!--
        factory-bean: 指向实例工厂方法的全类名
        factory-method: 指向实例工厂方法的方法名
        constructor-arg: 如果工厂方法需要传入参数，则使用constructor-arg来配置入参
    -->
    <bean id="car2" factory-bean="instanceCarFactory" factory-method="getCar">
        <constructor-arg value="ford"></constructor-arg>
    </bean>

</beans>