<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xux.test.dao.PersonMapper">
  <resultMap id="BaseResultMap" type="cn.xux.test.model.Person">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, gender, age
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from person
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="cn.xux.test.model.Person" useGeneratedKeys="true" keyProperty="id">
    insert into person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="age != null">
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from person where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="idLt != null">
      and id &lt; #{idLt,jdbcType=VARCHAR}
    </if>
    <if test="idGt != null">
      and id &gt; #{idGt,jdbcType=VARCHAR}
    </if>
    <if test="name != null and name != ''">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="nameLike != null and nameLike != ''">
      and name like concat(concat('%',#{nameLike,jdbcType=VARCHAR}),'%')
    </if>
    <if test="gender != null and gender != ''">
      and gender = #{gender,jdbcType=VARCHAR}
    </if>
    <if test="age != null">
      and age = #{age,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>